html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: "font", sans-serif;
  font-family: Arial, Verdana, sans-serif;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #fff;
  background-color: #070217;
}

.logo-link {
  margin-bottom: 50px;
}

.link-btn:not(:last-child) {
  margin-right: 25px;
}

.page-links {
  margin-bottom: 50px;
}

.link-btn {
  display: inline-block;
  padding: 24px 49px 24px 49px;
  font-weight: 700;
  font-size: 18px;
  background-color: #3f2aff;
}

.index-download-link {
  font-weight: 700;
  font-size: 18px;
  color: #3f2aff;
  background-image: url("/img/download.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 20px 20px;
  padding-left: 30px;
}

.container {
  margin: 0 auto;
  padding: 80px 0;
  width: 1170px;
}

.title,
.text,
.subtitle-h2,
.subtitle-h3 {
  margin-top: 0;
}

.subtitle-h2,
.subtitle-h3 {
  margin-bottom: 10px;
}

.title {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  color: #333;
}

.text {
  margin: 0;
}

.text,
.card-description {
  width: 872px;
  margin: 0;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #333;
}

.painted-text {
  border-radius: 20px;
  padding: 50px 95px 50px 95px;
  width: 100%;
  font-weight: 700;
  font-size: 30px;
  color: white;
  background-color: #3f2aff;
}

.decorated-block {
  border-radius: 20px;
  padding: 30px;
  background-color: #f3f3f3;
}

.decorated-block__first {
  background-image: url("/img/decorate-1.png");
  background-repeat: no-repeat;
  background-position: right center;
}

.decorated-block__second {
  background-image: url("/img/decorate-2.png");
  background-repeat: no-repeat;
  background-position: right center;
}

.decorated-text {
  width: 692px;
  margin-bottom: 10px;
}

.decorated-block:not(:last-child) {
  margin-bottom: 40px;
}

.subtitle-h2 {
  font-size: 40px;
  line-height: 46px;
  color: #333;
}

.list {
  margin: 0;
  padding-left: 15px;
}

.list-item:not(:last-child) {
  margin-bottom: 20px;
}

.subtitle-h3 {
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  color: #333;
}

.card {
  display: inline-block;
  margin-bottom: 40px;
  width: 872px;
  font-size: 0;
}

.list-item__link {
  border-bottom: 1px solid #3f2aff;
  font-size: 20px;
  color: #3f2aff;
}

.list-item::marker {
  color: #3f2aff;
}

.card-description {
  border: 1px solid #b6b6b6;
  border-top: none;
  padding: 19px 0 19px 0;
  font-weight: 400;
  font-size: 14px;
}

.image {
  margin-bottom: 40px;
}

.modules-page {
  font-size: 0;
}

.module-logo {
  display: block;
  margin: 0 0 25px 0;
  padding: 0;
}

.module-back-link {
  display: inline-block;
  padding: 0 0 0 52px;
  align-content: center;
  margin: 0 0 25px 0;
  width: 160px;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #3F2AFF;
  background: url("/img/Arrow\ 1.svg") no-repeat center left;
}

.module-title {
  margin: 0 0 50px 0;
  font-size: 60px;
  line-height: 69px;
  font-weight: 700;
  color: #3F2AFF;
}

.card-list {
  padding: 0;
  margin: 0 0 50px;
  list-style: none;

}

.card-list-item {
  display: inline-block;
}

.card-list-item:nth-last-of-type(2n) {
  margin-right: 25px;
  margin-bottom: 25px;
}

.module-card {
  display: inline-block;
  position: relative;
  width: 572px;
  height: 505px;
  margin: 0;
  padding: 205px 25px 25px 25px;
  vertical-align: top;
  font-size: 0;
  box-shadow: -1px -1px 10px #07021725;
}

.card-1 {
  background: url("/img/background1.jpg");
  background-repeat: no-repeat;
}

.card-2 {
  background: url("/img/background2.jpg");
  background-repeat: no-repeat;

}

.card-3 {
  background: url("/img/background3.jpg");
  background-repeat: no-repeat;

}

.card-4 {
  background: url("/img/background4.jpg");
  background-repeat: no-repeat;

}


.module-subtitle-h2 {
  font-size: 40px;
  line-height: 46px;
  font-weight: 700;
  color: #3F2AFF;
}

.module-card-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 165%;
}

.module-card-number {
  position: absolute;
  right: 25px;
  bottom: 25px;
  display: inline-block;
  margin: 0;
  font-size: 40px;
  line-height: 46px;
  color: #EAEAEA;
}

.btn {
  display: block;
  width: 274px;
  height: 70px;
  margin: auto;
  margin-bottom: 50px;
  border: 2px solid #3F2AFF;
  font-size: 18px;
  line-height: 21px;
  color: #3F2AFF;
  background-color: transparent;
}
